@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


/* primary color and primary dell color for our projec*/

@theme{
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
}


/* add to all */
*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}


body{
  color: white; /*text in white*/
  background-color: #09090B;  /*background in black*/
}

.no-scrollbar{
  scrollbar-width: none;
}

/* to remove up and down button used to select price or anything */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

/* to show calender icon */

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}